/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

.col-sm-3 {
  border-radius: 10px;
  border-style: solid;
  text-align: center;
  padding-top: 25px;
  height: 150px;
}

.symbol-mark {
  font-size: 4em;
}

#winner {
  font-size: 7em;
  color: blue;
  text-align: center;
}
