/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

.jumbotron {
  text-align: center;
}

#game-board {
  margin-top: 50px;
  margin-left: 250px;
}

.col-sm-3 {
  border-radius: 10px;
  border-style: solid;
  text-align: center;
  padding-top: 25px;
  height: 150px;
}

.symbol-mark {
  font-size: 4em;
}

#winner {
  margin-top: 100px;
  display: none;
  font-size: 7em;
}

#reset-button {
  margin-top: 50px;
  margin-left: 250px;
  font-size: 2em;
}
